.contact_main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #d9e2ec;
    font-size: 2.2vh;
}

.chairman{
    width: 20vw;
    height: 50vh;
    background: #E3EEEE;
	box-shadow: -2px 8px 22px 0 rgba(0,0,0,.15);
}

.chairman_image{
    width: 10vw;
    height: 24vh;
}

.vice_chairman{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scpt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media all and (max-width: 959px){
    .contact_main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: #d9e2ec;
        font-size: 2vh;
    }
    
    .chairman{
        width: 50vw;
        height: 50vh;
        background: #E3EEEE;
        box-shadow: 0.8vh 2vh 2vh #888888;
    }
    
    .chairman_image{
        width: 20vw;
        height: 24vh;
    }
    
    .vice_chairman{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .scpt{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
