.mainbox{
    display:flex;
    flex-direction: column;

}
.transport{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 3vw 2vh 3vw;
    font-size: 2.2vh;
}
.byrail{
    text-align:center;
    width:45vw;
    background-color: #f8f8f8;
    font-size: 2.2vh;
}
p{
    padding: 2vh 2vw 2vh 2vw;
}
.hotels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 3vw 2vh 3vw;
    font-size: 2.2vh;
}
.sonotel{
    text-align:center;
    width:45vw;
    background-color: #f8f8f8;
    font-size: 2.2vh;

}
.boarding{
    margin:2vh 3vw 2vh 3vw;
    font-size: 2.2vh;

}
.points{
    margin-left:2vw;
}

@media all and (max-width: 1200px){
    .transport{
        font-size: 2vh;
    }
    .byrail{
        font-size: 2vh;
    }
    .hotels{
    font-size: 2vh;
    }
    .sonotel{
    font-size: 2vh;
    }
    .boarding{
    font-size: 2vh;
    }
}