.mainp {
  display: flex;
  flex-direction: row;
  margin: 10vh 10vh 10vh 10vh;
  justify-content: space-between;
}
.box1p {
  display: flex;
  flex-direction: column;
  box-shadow: 0.8vh 1.6vh 2.88vh #888888;

  width: 40vw;
}
.box11p {
  text-align: center;
}

.box12p {
  text-align: center;
  margin: 2vh 2vw 2vh 2vw;
}

.box2p {
  display: flex;
  flex-direction: row;
  box-shadow: 0.8vh 1.6vh 2.88vh #888888;

  width: 40vw;
  position: relative;
}
.box12p {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #4e4e4e;
  color: white;
  margin-bottom: 1vh;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 2.5vh;
  padding: 1vh 2vw 1vh 2vw;
}
.btn {
  margin-top:5vh;
}

.imagepb{
  height:100%;
  width:100%;

}

@media all and (max-width: 1200px) {
  .mainp {
    display: flex;
    flex-direction: column;
    margin: 1vh 1vh 1vh 1vh;
    justify-content: center;
  }
.imagepb{
  height:100%;
  width:100%;

}
  .box1p {
    display: flex;
    flex-direction: column;
    margin: 1vh 2vw 2vh 2vw;
    box-shadow: 0.8vh 1.6vh 2.88vh #888888;

    width: 95%;
  }

  .box2p {
    display: flex;
    flex-direction: row;
    margin: 1vh 2vw 2vh 2vw;
    box-shadow: 0.8vh 1.6vh 2.88vh #888888;

    width: 95%;

    position: relative;
  }

  .btn {
  margin-top:5vh;
}

}
