html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.image4{
    width: 100%;
    height: 50vh;
}

.visit-text{
    font-size: 2.2vh;
    text-align: left;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    height: 20vh;
}

.background{
    background-color: #d9e2ec;
    width: 100%;
    overflow-x: hidden;
}

@media all and (max-width: 959px){
    .visit-text{
        font-size: 2.2vh;
        text-align: left;
        padding-bottom: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;    
        height: auto;
    }
}

