.image3{
    width: 100%;
    height: 50vh;
}
.about-text{
    font-size: 2.2vh;
    text-align: left;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;

}

.background{
    background-color: #d9e2ec;
}
.background2{
    background-color: #d9e2ec;
}