.main_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f8f8f8;
 
}
.flex_image{
  display:flex;
  flex-direction: row; 
  justify-content: center;
  margin-left: 0vh;
  margin-right:1vh;
  padding-right: 1vw;
  align-items: center;
  background-color: #333841;
  color: white;
}
.flex_home{
  display: flex;
  flex-direction:column;
  margin-left: 1vh;
  line-height: 1.6;
  float: center;
  background-color: #f8f8f8;
  padding-top: 1vh;
  color: black;
}
.flex_quicklinks{
  display: flex;
  flex-direction:column;
  line-height: 1.6;
  background-color: #f8f8f8;
  padding-top: 1vh;
}
.flex_contacts{
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding-top: 1vh;
  padding-right: 1vh;
  align-items: space-between;
}
.flex_address{
  display: flex;
  flex-direction: column;
  margin: 1vh 0vh;
  text-align: right;
}
.flex_email{
  display: flex;
  flex-direction: column;
  margin: 1vh 0vh;
  text-align: right;
}
.flex_abcd{
  display:flex;
  flex-direction: row;
}
@media all and (max-width: 600px) {
   .main_flex{
     display: flex;
     flex-flow: column wrap;
     align-items: center;
     width: 100%;
   }
   .flex_quicklinks{
     text-align: center;
   }
   .flex_contacts{
     text-align: center;
   }
   .flex_address , .flex_email{
     text-align: center;
   }
   
}
