.flex-container{
    display: flex;
    flex-direction: row;
    background-color: #333841;
    height: 15vh;
    
    
}
.img{
    height: 12vh;
}
.image{
    align-self: center;

}
.flex-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.L1{
    color: white;
    font-size: 2.3vh;
    font-weight: bold;
    
}
.L2{
    color: #f8f8f8;
    font-size: 2.3vh;
    font-weight: lightest;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 2vh 2vh;
    text-decoration: none;
    font-size: 2vh;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #4CAF50;
  }
  .header_nav{
    display: flex;
    flex-flow: row nowrap;    
  }
  body{
    margin: 0;
    padding: 0;
  }