body{
	font-family:'Open Sans';

}

.main {
  display: flex;
  justify-content: center;
  



}
.flexlink{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	

}

.pad{
 padding-top:10px;	
}
button{
	background-color:#fdb132;
	border-radius:0.8vh;
	border-color:none;
	color:white;
	font-size:3.2vh;
	cursor:pointer;
}
.heading{
	font-size:4.8vh;
}
.link2{
	margin: 2vh 30vh 4vh 0vh;
}
.link1{
	margin: 2vh 0vh 4vh 30vh;
}
.box{
	width :150vh;
	padding:0vh;
	height: 42vh;
	align:center;
	box-shadow: 0.8vh 1.6vh 2.88vh #888888;
}
