.paramargin{
  margin:2vh 5vh 5vh 5vh;
	
}

.p3{
	background-color: #d9e2ec;
	
}
.p5{
	background-color: #d9e2ec;
}

.headingpolicy{
	font-size:6vh;
	margin:2vh 5vh 5vh 2vh;
	
}




li{
	margin: 2vh 0vh;
}