.paramargin{
  margin:2vh 5vh 2vh 0.5vh;
  padding-left: 0vh;
	
}

.p3{
	background-color: #d9e2ec;
	
}
.p5{
	background-color: #d9e2ec;
}

.headingpolicy{
	font-size:6vh;
	margin:2vh 5vh 2vh 2vh;
	
}
.padding_shift{
	padding-left: 6.25vh;
}




li{
	margin: 2vh 0vh;
}
body{
	margin: 0vh 0vh 0vh 0vh;
	padding-left: 0%;
}
ol{
	padding-inline-start: 6.25vh;
}